# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
.env*

# Jupyter
.ipynb_checkpoints

# VSCode
.vscode/

# Docker
*.log
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# Grafana/Prometheus
prometheus-data/
grafana-data/

# Celery
celerybeat-schedule

# Node
node_modules/

# Build
build/
dist/
*.egg-info/

# Misc
*.sqlite3
*.db
