tiktoken
numpy<2
torch==2.2.2+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers
PyJWT

fastapi
uvicorn
python-dotenv
pydantic

celery
redis

qdrant-client==1.6.1

python-jose
bcrypt>=4.0.0
passlib[bcrypt]>=1.7.4
bcrypt>=4.0.1

requests
groq
python-multipart
aiofiles
prometheus_client